<div class="container">
  <app-filter-pokemon (dataFilter)="getFilter($event)"></app-filter-pokemon>

  <div class="table-container" *ngIf="filteredPokemonList.length > 0">
    <div class="result">
        Se han encontrado {{ filteredPokemonList.length }} Pokemon
    </div>
    <table>
      <tr class="table-header">
        <th>Nombre</th>
        <th>Peso</th>
        <th>Tipo</th>
        <th>Imagen</th>
      </tr>
      <tr class="table-content" *ngFor="let pokemon of filteredPokemonList">
        <td>{{ pokemon.name | titlecase }}</td>
        <td>{{ pokemon.weight / 10 }} Kg</td>
        <td class="type">
          <div [ngClass]="'poke-type ' + pokemon.type1">
            <span>{{ pokemon.type1 }}</span>
          </div>
          <div *ngIf="pokemon.type2" [ngClass]="'poke-type ' + pokemon.type2">
            <span>{{ pokemon.type2 }}</span>
          </div>
        </td>
        <td>
          <div *ngIf="!loaded" class="spinner-loading"></div>
          <img [hidden]="!loaded" (load)="loaded = true" [src]="pokemon.image">
        </td>
      </tr>
    </table> 
  </div>
  <div class="result" *ngIf="filteredPokemonList.length === 0">No se ha encontrado ningún Pokemon</div>
</div>
