<div class="container">
  <app-filter-pokemon></app-filter-pokemon>

  <div class="table-container">
    <table>
      <tr class="table-header">
        <th>Nombre</th>
        <th>Peso</th>
        <th>Tipo</th>
        <th>Imagen</th>
      </tr>
      <tr class="table-content" *ngFor="let pokemon of fullPokemonList">
        <td>{{ pokemon.name | titlecase }}</td>
        <td>{{ pokemon.weight / 10 }} Kg</td>
        <td class="type">
          <div [ngClass]="'poke-type ' + pokemon.type1">
            <span>{{ pokemon.type1 }}</span>
          </div>
          <div *ngIf="pokemon.type2" [ngClass]="'poke-type ' + pokemon.type2">
            <span>{{ pokemon.type2 }}</span>
          </div>
        </td>
        <td><img [src]="pokemon.sprite"></td>
      </tr>
    </table>
        
  </div>

</div>


