.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .flex-item {
    width: 100%;
    padding: 10px;
  }

}

@media (min-width: 992px) {
  .flex-container {
    flex-direction: row;
    .flex-item:nth-child(1n) { width: 40%; }
    .flex-item:nth-child(2n) { width: 60%; }
  }
}