<div [formGroup]="form" class="form-group">

  <div [ngSwitch]="field.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [id]="field.key" [type]="field.type">

    <select *ngSwitchCase="'dropdown'" [formControlName]="field.key" [id]="field.key">
      <option hidden selected></option>
      <option *ngFor="let opt of field.options" [value]="opt">{{ opt | titlecase }}</option>
    </select>
    <label class="floating-label" [attr.for]="field.key">{{ field.label }}</label>
  </div>

  <div class="error-message" *ngIf="!isValid && form.get(this.field.key).touched">Completa este campo</div>
</div>
