<div class="container">
  <form [formGroup]="form" class="form-container">
    <h2>Encuentra tu Pokémon</h2>

    <div class="flex-container">
      <div *ngFor="let field of fields" class="flex-item">
        <app-form-generator [field]="field" [form]="form"></app-form-generator>
      </div>
    </div>

    <div class="buttons">
      <input type="reset" value="Limpiar filtros" (click)="resetFilter()">
    </div>
  </form>
</div>

<div class="data-filter">
  <div class="filter-by" *ngIf="filter.name || filter.weight || filter.type">Filtrando por: 
    <div *ngIf="filter.name">Nombre</div>
    <div *ngIf="filter.weight">Peso</div>
    <div *ngIf="filter.type">Tipo</div>
  </div>
</div>
