.container {
  margin-top: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
  .flex-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .flex-container .flex-item { width: 50%; }
}

@media (min-width: 992px) {
  .flex-container .flex-item { width: 33%; }
  
}
