<div class="container">
  <div class="form-container">
    <h2>Encuentra tu Pokémon</h2>
    <div class="flex-container">
      <div class="flex-item">
        <!-- <label>Nombre</label> -->
        <!-- <input type="text"> -->
      </div>
      <div class="flex-item">
        <!-- <label>Peso</label> -->
        <!-- <input type="number"> -->
      </div>
      <div class="flex-item">
        <!-- <label>Nombre</label> -->
        <!-- <input type="text"> -->
      </div>
      <div class="flex-item">
        <!-- <label>Nombre</label> -->
        <!-- <input type="text"> -->
      </div>
      <div class="flex-item">
        <!-- <label>Nombre</label> -->
        <!-- <input type="text"> -->
      </div>
    </div>
  </div>
</div>


