/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 26px;
  color: darkblue;
}

.form-container {
  background-color: #ddd;
  padding: 15px 10px;
  border-radius: 4px;
}

input[type=submit], input[type=reset] {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 8px 22px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #4CAF50;
}

input[type=reset] {
  background-color: #bd3535;
}

input[type=submit], input[type=reset] {
  &[disabled] {
    background-color: gray;
  }
}

.buttons {
  margin-top: 10px;
  text-align: center;
  input {
    margin: 5px;
  }
}

.form-group {
  padding: 10px 10px 16px;
  position: relative;

  input, select {
    width: 100%;
    padding: 20px 13px 5px;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: white;
    font-size: 18px;
  }

  select {
    padding-left: 10px;
  }

  input[type=file] {
    position: relative;
    cursor: pointer;
    color: transparent;
    &::-webkit-file-upload-button {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    &::after {
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900;
      font-size: 30px;
      content: "\f093";
      color: darkblue;
      position: absolute;
      right: 0;
      top: 0;
      padding: 8px 18px;
    }
  }
  
  .floating-label {
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 23px;
    transition: 0.2s ease all;
  }

  .file-name {
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 23px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding: 0 60px 0 25px;
  }

  input:focus, select:focus {
    outline: none;
    border: 1px solid darkblue;
  }

  input:not([type=file]).ng-dirty ~ .floating-label, 
  input:not([type=file]):focus ~ .floating-label,
  select.ng-dirty ~ .floating-label,
  select:focus ~ .floating-label,
  input[type=file].ng-dirty.ng-touched ~ .floating-label {
    font-size: 12px;
    top: 14px;
    color: darkblue;
  }

  .error-message {
    position: absolute;
    left: 18px;
    bottom: 0px;
    font-size: 12px;
    color: red;
  }
}

.poke-type {
  width: 75px;
  text-align: center;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 6px;
  margin: 0 2px;
    span { 
      text-transform: uppercase;
      font-size: 12px; 
      color: white;
      text-shadow: 0 0 2px black; 
    }
    &.normal     { background-color: #a8a878; border-top-color: lighten(#a8a878, 15%); border-bottom-color: darken(#a8a878, 15%); }
    &.fighting   { background-color: #c03028; border-top-color: lighten(#c03028, 15%); border-bottom-color: darken(#c03028, 15%); }
    &.flying     { background-color: #a890f0; border-top-color: lighten(#a890f0, 15%); border-bottom-color: darken(#a890f0, 15%); }
    &.poison     { background-color: #a040a0; border-top-color: lighten(#a040a0, 15%); border-bottom-color: darken(#a040a0, 15%); }
    &.ground     { background-color: #e0c068; border-top-color: lighten(#e0c068, 15%); border-bottom-color: darken(#e0c068, 15%); }
    &.rock       { background-color: #b8a038; border-top-color: lighten(#b8a038, 15%); border-bottom-color: darken(#b8a038, 15%); }
    &.bug        { background-color: #a8b820; border-top-color: lighten(#a8b820, 15%); border-bottom-color: darken(#a8b820, 15%); }
    &.ghost      { background-color: #705898; border-top-color: lighten(#705898, 15%); border-bottom-color: darken(#705898, 15%); }
    &.steel      { background-color: #b8b8d0; border-top-color: lighten(#b8b8d0, 15%); border-bottom-color: darken(#b8b8d0, 15%); }
    &.fire       { background-color: #f08030; border-top-color: lighten(#f08030, 15%); border-bottom-color: darken(#f08030, 15%); }
    &.water      { background-color: #6890f0; border-top-color: lighten(#6890f0, 15%); border-bottom-color: darken(#6890f0, 15%); }
    &.grass      { background-color: #78c850; border-top-color: lighten(#78c850, 15%); border-bottom-color: darken(#78c850, 15%); }
    &.electric   { background-color: #f8d030; border-top-color: lighten(#f8d030, 15%); border-bottom-color: darken(#f8d030, 15%); }
    &.psychic    { background-color: #f85888; border-top-color: lighten(#f85888, 15%); border-bottom-color: darken(#f85888, 15%); }
    &.ice        { background-color: #98d8d8; border-top-color: lighten(#98d8d8, 15%); border-bottom-color: darken(#98d8d8, 15%); }
    &.dragon     { background-color: #7038f8; border-top-color: lighten(#7038f8, 15%); border-bottom-color: darken(#7038f8, 15%); }
    &.dark       { background-color: #705848; border-top-color: lighten(#705848, 15%); border-bottom-color: darken(#705848, 15%); }
    &.fairy      { background-color: #ffb7fa; border-top-color: lighten(#ffb7fa, 15%); border-bottom-color: darken(#ffb7fa, 15%); }
}

.spinner-loading {
  width: 20px;
  height: 20px;
  border: 3px solid #bbb;
  border-left: 3px solid darkblue;
  border-radius: 50%;
  animation: looping 1s linear infinite;
}

@keyframes looping {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
